@import url('https://fonts.googleapis.com/css?family=Karla');


* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  padding: 0px;
  margin: 0px;
}

.description strong {
  color: black;
}


.playerContainer {
  width: 500px;
  height: 500px;
}

.player {
  width: 100%;
  height: 100%;
}

p {
  margin: 4px 0px;
}

br {
  color: black;
}

.video {
  /* position: fixed; */
  width: 100%;
  height: 100vh; 
  /* z-index: -100; */
  /* border: 2px solid green; */
}

#video {
  width:100%;
  height:100%;
}


/* Apply these to the Chevron! */
/* .slideRight {
  color: #5778F3;
  transition: transform .3s ease-in-out;
  font-size: 25px;
  padding: 15px 20px;
  position: relative;
}

.slideRight::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 12px;
  /* background: url("../assets/images/arrow-right.svg") no-repeat; */
/* }

.slideRight:hover {
  transform: translateX(25px);
} */

