@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background: #F5FBFC;
}

#hoverText {
  color: white;
  z-index: 100;
  position: relative;
  left: 32%;
  top: -360px;
  font-size: 16px;
  font-weight: bold;
}

#hoverText p:first-of-type {
  text-indent: 8em;
}

.description strong {
  color: black;
}

#linkContainer {
  display:flex;
  justify-content: center;
  margin-top: 30px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  margin-bottom: 15px;
}

iframe {
  /* margin-top: 20px;
  margin-bottom: 50px; */
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  /* -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg); */
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2); */
  } 

/* .playerContainer {
  width: 500px;
  height: 500px;
}

.player {
  width: 100%;
  height: 100%;
} */

p {
  margin: 4px 0px;
}

br {
  color: black;
}

.iFrameContainer, .iFrame {
  /* position: fixed; */
  width: 100%;
  height: 100vh; 
  /* z-index: -100; */
  /* border: 2px solid green; */
  /* overflow:hidden; */
}



Container strong {
  color: #337FBD !important;
}

#pitchCardContainer {
  width: 100%;
  height: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  /* border: 1px solid green; */
}

#pitchCardContainer li {
  list-style: none;
}

#pitchCardContainer a {
  color: #5293C7;
}

#pitchCardContainer a:hover {
  color: #144A75;
  font-weight: bold;
}

#pitchCardContainer h1 {
  text-decoration: underline;
  margin-bottom: 3px;
  margin-left: 10px;
  font-family: 'EB Garamond', serif;
}

#pitchCardContainer p {
  text-indent: 2em;
  font-family: 'EB Garamond', serif;

}

#pitchCardContainer h4 {
  text-decoration: underline;
  margin:10px 0px;
}

#quote {
  font-style: italic !important;
}
#attribution {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

#bostromContainer {
  width: 100%;
  height: autopx;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
  /* border: 1px solid green; */
}



/* Apply these to the Chevron! */
/* .slideRight {
  color: #5778F3;
  transition: transform .3s ease-in-out;
  font-size: 25px;
  padding: 15px 20px;
  position: relative;
}

.slideRight::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 12px;
  /* background: url("../assets/images/arrow-right.svg") no-repeat; */
/* }

.slideRight:hover {
  transform: translateX(25px);
} */

